<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__nav">
			<a href="#hero" class="header__logo" data-fls-scrollto="#hero">
				<img src="@img/logo.png" alt="Logo" class="header__logo-img">
			</a>
			<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
		</div>

		<div class="header__actions">
			<button class="header__cta" type="button" data-fls-popup-link="contact-form">Перезвоните мне</button>
		</div>
	</div>
</header>